/* Domain Block */
.block-domain .input-group {
    border: 0;
    box-shadow: 0 0 30px 20px #e6ebee;
    margin: 4rem auto;
    max-width: 670px;
  }
  
  .block-domain__prices {
    color: var(--color-headings);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    /* This will keep it from stretching and also center the item */
    max-width: 700px;
    margin: 0 auto;
  }


  
  @media screen and (min-width: 768px) {
    .block-domain__prices {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  }

  /* Plans Block */
.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  /* This will keep it from stretching and also center the item */
  max-width: 500px;
  margin: 0 auto;
}

/* Features Block */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
  border-radius: 10px;
}

.feature__image__small {
  width: 60%;
  margin-left: 85px;
}

/*this one is cool. it targets every other block and reverses content*/
@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase Block */


@media screen and (min-width: 768px) {
  .block-showcase__image > img {
    width: 100%;
  }

  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
}

.block-showcase__image > img {
  width: auto;
  max-width: 700px;
}

