/* Footer */
.footer {
    background: #000;
  }
  
  .footer a {
    color: #777;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
  }
  
  .footer__section .list {
    margin: 0;
  }
  
  .footer__heading {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .footer__brand {
    margin-top: 5rem;
    text-align: center;
  }
  
  .footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
  }

  .bozo div,
  .bozo h2 {
      background-color: red;
      color: yellow;
  }
  
  @media screen and (min-width: 768px) {
    .footer__sections {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  
    .footer .collapsible__chevron {
      display: none;
    }
  
    .footer .collapsible__content {
      opacity: 1;
      max-height: 100%;
    }
  
    .footer__brand {
      margin-top: 1rem;
      order: -1;
    }
  
    .footer__brand img {
      /* TODO: Consider refactoring this and applying it to all images */
      width: 100%;
      max-width: 230px;
    }
  
    .footer__copyright {
      font-size: 1.5rem;
    }
  
    .footer__section {
      border: 0;
    }
  
    .footer__heading {
      font-size: 1.6rem;
    }
  
    .collapsible__header svg {
      visibility: hidden;
    }
  
    .collapsible__content {
      margin-top: 0rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .bozo {
      position: relative;
      top: 5vh;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .bozo {
      margin: 0 2vw;
    }
  }
  