 /* Hero */

 .hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    margin: 2rem 0 5rem;
  }
  
  .hero__image {
    width: 100%;
    opacity: 0.91;
    border-radius: 10px;
  }
  
  .hero__content > .block__heading {
    color: white;
  }
  
  
  @media screen and (min-width: 768px) {
    .hero {
      padding-top: 0;
    }
    .hero__content {
      text-align: left;
      align-self: center;
    }
  }
  
  
  
  