:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #081cc8;
    --color-headings: #1b0760;
    --color-body: #918ca4;  
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
  }
  
  /* universal selector */
  *,
  *::after,
  x::before {
    box-sizing: border-box; /* makes sure everything fits on screen */
  }

 /* ADD LATER MAYBE
  body {
    background: rgb(216,36,36);
background: linear-gradient(0deg, rgba(216,36,36,1) 17%, rgba(255,255,255,1) 44%);
  }

  */